<div id="col-1">
	<%= render 'layouts/header' %>
</div>
<div id="col-2">
	<header class="folder">
	<span class="folder-name"><%= @folder.name %> </span>
</header>
	<%= render 'folders/edit' %>
</div>
