<div id="col-1">
	<%= render 'layouts/header' %>
</div>
<div id="col-2">
	<header class="folder">
	<p><span class="folder-name">Account Settings</span></p>
	</header>
	<%= render 'users/edituser' %>
</div>
