/******************************************
/* RESET                   
/*******************************************/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video, lable {
     margin: 0;
     padding: 0;
     border: 0;
     font-size: 100%;
     font: inherit;
     vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
     display: block;
}
body {
     line-height: 1;
}
ol, ul {
     list-style: none;
}
blockquote, q {
     quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
     content: '';
     content: none;
}
table {
     border-collapse: collapse;
     border-spacing: 0;
}

/******************************************
/* SETUP                   
/*******************************************/

/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}
 
.clearfix {
     display: inline-block;
}


/******************************************
/* BASE STYLES                   
/*******************************************/

@font-face {
    font-family: 'BebasNeueRegular';
    src: url('BebasNeue-webfont.eot');
    src: url('BebasNeue-webfont.eot?#iefix') format('embedded-opentype'),
         url('BebasNeue-webfont.woff') format('woff'),
         url('BebasNeue-webfont.ttf') format('truetype'),
         url('BebasNeue-webfont.svg#BebasNeueRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

body {
     color: #000;
     /*color: rgb(96,41,102);*/
     font-size: .9em;
     line-height: 1.4;
     font-family: Helvetica, Arial, sans-serif;
     /*background-color: aliceblue;*/
     background-color: white;
     /*background-color: rgb(252, 198,121);*/

     /*background-color: rgb(138,52,45);*/
}

.right { float: right; }
.left { float: left; }

a {
     text-decoration: none;
     color: black;
     font-weight: bold;
     font-size: 1em;
}

h2 {
     font-size: 1.5em;
     font-weight: bold;
}

h3  {
     font-size: 1.2em;
     font-weight: bold;
}

h3.new-link, h3.sign, h3.log {
     cursor: pointer;
}

img {
     max-width: 100%;
}

.url {
     color: #404040;
     font-size: .9em;
     font-weight: lighter;
}

/******************************************
/* LAYOUT                   
/*******************************************/


#col-1 {
     padding: .8em 1.5em 1.5em 1.5em;
     /*background-color: rgb(252, 198,121);*/
     /*height: 100%;*/
}

#col-2 {
     /*padding: .8em 0;*/
     /*background-color: white;*/
     background-color: rgb(165,206,57);
}

.new-link, .new-folder, .add-things {
     padding-top: .6em;
}

header.folder {
     padding: 1em 1.5em .5em;
     font-family: "BebasNeueRegular";
     background-color: black;
     color: white;
}

.folder-title {
     padding: 1em 0 0;
     /*border-bottom: 1px solid black;*/
}

.folder-name {
     font-size: 1.5em;
}

.folders {
     padding: .25em 0;
}

.folder-links {
     padding-top: .20em;
}

.hide {
     display: none;
}

.post-edit {
     text-align: right;
     font-weight: lighter;
}

.delete-link {
     font-weight: lighter;
     font-size: 1em;
}

#col-2 h3 {
     margin: 0;
}

#col-2 .col2-url {
     color: white;
}

div.col2-links {
     padding: .5em 1.5em .75em;
     /*background-color: lime;*/
     transition-duration: .3s;
     -o-transition-duration: .3s;
     -moz-transition-duration: .3s;
     -webkit-transition-duration: .3s;
     transition-timing-function: ease;
     -o-transition-timing-function: ease;
     -moz-transition-timing-function: ease;
     -webkit-transition-timing-function: ease;
}

.col2-links:hover {
     background-color: white;
     /*background-color: rgb(250, 176, 90);*/
}


/******************************************
/* LOGO Header
/*******************************************/
.enter {
     margin: 0 auto;
     padding-top: 1em;
     text-align: center;
     font-family: "BebasNeueRegular";
     font-size: 1.5em;
}

.landing-logo {
     /*background-image: url('images/lnksy-logo-bl.png');*/
     width: 85%;
     margin: 2em auto 0;
     text-align: center;
     /*background-color: lime;*/
}
.landing-logo img {
     margin: 0 auto;
     max-width: 100%;
}

.settings {
     font-size: 1.25em;
}

.hi, .hi a {
     /*font-size: 1.1em;*/
     font-family: "BebasNeueRegular";
     font-weight: normal;
}

.static-logo {
     margin: .5em auto 0;
     max-width: 100%;
     text-align: center;
}

.sign-box {
     width: 49%;
     float: left;
     text-align: right;
}

.log-box {
     width: 49%;
     float: right;
     text-align: left;
}
/******************************************
/* forms                 
/*******************************************/

textarea, input#post_link_url, input#folder_name, select#post_folder_id {
     min-width: 100%;
     background: #efefef;
     -moz-border-radius: 3px;
     -webkit-border-radius: 3px;
     border-radius: 3px;
     border: 1px solid #dedede;
}

textarea {
     height: 4em;
     max-width: 100%;

}

select, input  {
     min-width: 100%;
}

.flash {
     color: red;
     padding-bottom: .25em;
}

.log-in, .sign-up {
     margin: 3em auto 0;
     padding: 2em 2.5em 2.5em;
     width: 90%;
     text-align: left;
}

.login-form {
     padding: .5em 0 0;
}

.logged-out {
     text-align: center;     
}

/******************************************
/* Media Queries
/*******************************************/


/* 768px/16px = 48em ---tablet */
@media all and (min-width: 48em) {
     .log-in, .sign-up {
          width: 40%;
          border: 2px solid #666;
          border-radius: 4px;
     }

     #col-group {
          overflow: hidden;
     }
     #col-1 {
          width: 30%;
          float: left;
     }
     #col-2 {
          width: 70%;
          float: right;
     }

}

@media all and (min-width: 55em) {

     #col-group {
          overflow: hidden;
     }
     #col-1 {
          width: 25%;
          float: left;
     }
     #col-2 {
          width: 75%;
          float: right;
     }

}
/* 1024px/16px = 64em ---desktop/landscape */
@media all and (min-width: 70em) {
     #col-group {
          overflow: hidden;
        /*background-color: lime;*/

     }

     #col-1 {
          float: left;
          width: 20%;
          overflow: auto;
    }
     #col-2 {
          float: left;
          width: 80%;
          overflow: hidden;
    }

     .log-in, .sign-up {
          width: 25%;
          border: 2px solid #666;
          border-radius: 4px;
     }


/*     .settings {
          float: right;
          margin: 0 10px;
     }*/
}
       